// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";


.bg-primary {
  background-color: #0070fa !important;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #293d45;
  border-color: #293d45;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #0070fa;
  border-color: #0070fa;
}

.btn-primary {
  color: #fff;
  background-color: #0070fa;
  border-color: #0070fa;
}

.app-header {
  background-color: #003057;
  border-bottom: 1px solid #e0e2e3;
}

.navbar-nav .nav-link {
  color: #f5f5f5;
}

.app-header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
}

body {
  background-color: rgba(241, 242, 243, 1);
}

.sidebar .nav-title {
  color: #ffffff;
}

.sidebar {
  color: #0079ef;
  background: #003c6c;
}


.sidebar .nav-link {
  color: #ffffff;
}

.sidebar .nav-link.active {
  color: #fff;
  background: #0c4272;
}



.sidebar .nav-link:hover .nav-icon {
  color: #90c644;
}

.sidebar .nav-link.active .nav-icon {
  color: #ffffff;
}


.sidebar .nav-link .nav-icon {
  color: #90c644;
}


.table thead th {
  vertical-align: bottom;
  border-bottom: 0px solid #c8ced3;
}

.table thead th {
  COLOR: #656668;
}
.navbar {
  padding: 0rem 1rem;
}
.sidebar .nav-link:hover {
  color: #ffffff;
  background: #0079ef;
}


.sidebar-minimized .sidebar .nav-item:hover > .nav-link {
  background: #0079ef;
}
.badge {
  padding: 0.90em;
  font-size: 50%;
  font-weight: 100
}
body {
  font-weight: 300;
 
}
.table td {
  font-weight: 300;
  color: #656668;
}
/*danger:not(:disabled):not(.disabled).active, .show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #e5004c;
  border-color: #e5004c;
}


.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active, .show > .btn-outline-warning.dropdown-toggle {
  color: #23282c;
  background-color: #fcdb1f;
  border-color: #fcdb1f;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #1aac60;
  border-color: #1aac60;
}*/

.btn-outline-primary {
  color: #1aac60;
  border-color: #1aac60;
}
.btn-outline-warning {
  color: #fcdb1f;
  border-color: #fcdb1f;
}
.btn-outline-danger {
  color: #e5004c;
  border-color: #e5004c;
}
.btn-outline-warning:hover {
  color: #23282c;
  background-color: #fcdb1f;
  border-color: #fcdb1f;
}
.btn-outline-primary:hover {
  color: #23282c;
  background-color: #1aac60;
  border-color: #1aac60;
}

.btn-outline-danger:hover {
  color: #23282c;
  background-color: #e5004c;
  border-color: #e5004c;
}

.breadcrumb {
  padding: 0.3rem 2rem;
}
.app-footer {
  flex: 0 0 35px;
}
.sidebar .sidebar-minimizer {
  flex: 0 0 35px;
}

.sidebar .nav-link {
  padding: 0.35rem 2rem;
}
.font-weight-bold {
   font-weight: 0;
}

.fa  {
  color: #419adf;
}
.icon
{
  color: #419adf;
}
body {
  background-color: #ffff;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #c8ced3;
}