

<div class="animated fadeIn">

  <div class="row">
    <div class="card-group mb-12">
      <div class="card">
      <div class="card-body">
      <div class="h1 text-muted text-right mb-4">
        <i class="icon-layers"></i>
      </div>
      <div class="text-value">87.500</div>
      <small class="text-muted text-uppercase ">PROPERTIES</small>
      </div>
      </div>
      <div class="card">
      <div class="card-body">
      <div class="h1 text-muted text-right mb-4">
      <i class="icon-user-follow"></i>
      </div>
      <div class="text-value">385</div>
      <small class="text-muted text-uppercase ">New Clients</small>
    
      </div>
      </div>
      <div class="card">
      <div class="card-body">
      <div class="h1 text-muted text-right mb-4">
      <i class="icon-basket-loaded"></i>
      </div>
      <div class="text-value">1238</div>
      <small class="text-muted text-uppercase ">PROPERTY SOLD</small>
      </div>
      </div>
      <div class="card">
      <div class="card-body">
      <div class="h1 text-muted text-right mb-4">
      <i class="icon-pie-chart"></i>
      </div>
      <div class="text-value">28%</div>
      <small class="text-muted text-uppercase">PENDING APPROVALS</small>
      </div>
      </div>
      <div class="card">
      <div class="card-body">
      <div class="h1 text-muted text-right mb-4">
      <i class="icon-speedometer"></i>
      </div>
      <div class="text-value">5:34:11</div>
      <small class="text-muted text-uppercase">Avg. Time</small>
      
      </div>
      </div>
      </div>
    <!-- <div class="card-group mb-4">
      <div class="card">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-layers"></i>
          </div>
          <div class="text-value">87</div>
          <small class="text-muted text-uppercase font-weight-bold">PROPERTIES</small>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-user-follow"></i>
          </div>
          <div class="text-value">385</div>
          <small class="text-muted text-uppercase font-weight-bold">NEW CLIENTS</small>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-people"></i>
          </div>
          <div class="text-value">385</div>
          <small class="text-muted text-uppercase font-weight-bold">ALL CLIENTS</small>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-basket-loaded"></i>
          </div>
          <div class="text-value">1238</div>
          <small class="text-muted text-uppercase font-weight-bold">PROPERTY SOLD</small>

        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-pie-chart"></i>
          </div>
          <div class="text-value">15</div>
          <small class="text-muted text-uppercase font-weight-bold">PENDINGS</small>

        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="h1 text-muted text-right mb-4">
            <i class="icon-speedometer"></i>
          </div>
          <div class="text-value">5:34:11</div>
          <small class="text-muted text-uppercase font-weight-bold">Avg. Time</small>

        </div>
      </div>
    </div> -->
  </div>
</div>


